<header class="stripe">
<div class="wrapper">
  <form class="search-form" id="search-form">
    <input
      class="input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="submit-btn" type="submit">
      <img class="icon" src="./img/search-icon.svg" alt="" />
    </button>
  </form>
  <div class="toggler">
    <div class="button r" id="button-3">
      <input type="checkbox" class="checkbox" />
      <div class="knobs"></div>
      <div class="layer"></div>
    </div>
  </div>
  <p class="togler-text">Load-More button</p>
</div>
</header>
<div class="container">
  <div class="gallery"></div>
</div>
<div class="observer"></div>
<div class="stripe-reverce is-hidden js-loadMoreBox">
  <button class="load-more-btn" type="button" class="load-more">
    Load more
  </button>
</div>
